section {
  margin:auto;
  width:800px;
}
h1 {
  font-size: 25px;
  font-family: Dejavu Pro, Arial;
  text-align: center;
  background-color: white;
    border-top:10px solid #359AD7;
  padding-top:15px;
  padding-bottom:15px;
  border-bottom:10px solid #359AD7;
  margin:0px;
}
.buttondiv {
  display:block;
   margin: auto;
    text-align: center;
  }
#button{
  position: absolute;
  margin:auto;
      top: -130px;
  display:block;
  text-align: center;
    right: 250px;
  height:100px;
  width:300px;
    font-size:20px;
  background-color:#41798D;
  color:white;
  border: 5px solid white;
  border-radius:5px;
}
body {
  text-align: center;
}
.tweetbox {
  position:relative;
    margin: 0 auto;
  display:block;
}
h2 { 
   position: relative; 
  margin: 0 auto;
   top: -4px; 
   left: -1px;
  right: 00px;
   width: 559px; 
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30.5px;
    text-align: left;
  background-color: white;
  color:#323232;
  font-weight:100;
  border-left:41px solid white;
  border-right:32px solid white;
  }
div{
  display:block;
}
#top{
  position: relative;
  top:155px;
  }
#topTrump{
  border-radius:5px 5px 0px 0px;
  border-top:20px solid white;
  border-left:31px solid white;
  border-right:27px solid white;
  margin-right:2px;
}
#bottomTrump{
  border-radius:0px 0px 5px 5px;
  border-bottom:20px solid white;
  border-left:32px solid white;
  border-right:27px solid white;
  margin-left:-2px;
}
.bottom{
  top: -4px;
  position: relative;
}
.date{
  position:relative;
  left:122px;
  top:-94px;
  left: 123px;
  background-color:white;
  text-align:left;
  font-size:14px;
  color:#A4AFB3;
  font-family: Helvetica;
  width:500px;
}
#background{
  position:absolute;
  margin:auto;
  text-align:center;
  width:100%;
  background:black;
}
#BG{
  min-height:100%;
  min-width:100%;
  opacity:0.5;
  }
