html,
body {
  background: #000;
  height: 100%;
  width: 100%;
}

.text {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  
  h1 {
    animation: example 10s linear forwards;
    font-family: "Arial", "Helvetica", "Sans Serif";
    text-align: center;
    text-transform: uppercase;
    transform: scale(1);
    transform-origin: center;
  }
}

@keyframes example {
  0%   {
    transform: scale(1);
  }

  100% {
     transform: scale(1.3);
  }
}

