html,
body {
  background: #000;
}
body {
  background-color: #000000;
}
.ring {
  position: absolute;
  left: 300px;
  top: 100px;
  transform-origin: 18px 200px;
  -webkit-transform-origin: 18px 200px;
}
.seg {
  position: absolute;
  width: 36px;
  height: 20px;
  background-color:#00cc00;
}
.hide {
  display: none;
}
.long {
  height: 60px;
}
#win {
  position: absolute;
  left: 298px;
  top: 280px;
  width: 20px;
  height: 20px;
  border: 10px solid #FFAA00;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 10px rgba(255, 0, 0, 1);
  border-radius: 50%;
}




.text {
  -webkit-box-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
.text h1 {
  -webkit-animation: example 10s linear forwards;
          animation: example 10s linear forwards;
  font-family: "Arial", "Helvetica", "Sans Serif";
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes example {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2.3);
            transform: scale(2.3);
  }
}

@keyframes example {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2.3);
            transform: scale(2.3);
  }
}
